.contatos-container {
    margin-top: 40px;
    width: 20%;
    padding: 40px;
    background-color: #E8E6CD;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0px;
    text-align: center;
    color: #734C2B;
    margin-bottom: 30px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #734C2B;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form .send-button {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #734C2B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
  }
  
  .contact-form .send-button:hover {
    background-color: #8a725f;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .contatos-container {
      margin-top: 10px;
      padding: 10px;
      width: 85%;
    }

    h1 {
      margin-top: 0px;
      text-align: center;
      font-size: 25px;
      color: #734C2B;
      margin-bottom: 10px;
    }

    .contact-form label {
      font-size: 14px;
      font-weight: bold;
      color: #734C2B;
    }
  
    .contact-form input,
    .contact-form textarea {
      font-size: 14px;
    }
  
    .contact-form .send-button {
      font-size: 14px;
      padding: 8px 10px;
      margin-top: 5px;
    }

    .contact-form .send-button:hover {
      background-color: #8a725f;
    }
  }