.container-wrap {
    margin-top: 20px auto;
    width: 40%;
    padding: 30px;
    background-color: #F1E3CB;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-top: 0px;
    text-align: center;
    color: #734C2B;
    margin-bottom: 30px;
}

h3 {
    text-align: center;
    color: #734C2B;
    font-size: 20px;
    margin-bottom: 5px;
}

p1 {
    text-align: justify;
    color: #734C2B;
    font-size: 20px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: #734C2B;
    font-size: 16px;
    margin-bottom: 20px;
}

.container-wrap .container-cafes {
    width: 90%;
    margin: 30px auto 0;  /* centers the grid container */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 100px;
}

.cafe-card {
    background-color: #E8E6CD;
    padding: auto;
    border-radius: 20px;
    box-shadow: #734C2B 5px 5px 5px;
    display: flex;
    flex-direction: column;
}


/* Phones (320px–540px) */
@media (min-width: 320px) and (max-width: 767px) {
    body {
        height: 100%;           /* Ensure body takes full height */
        margin: 0;              /* Remove default margin */
        padding: 0;             /* Remove padding */
    }
    
.container-wrap {
    width: 90%;           /* almost full width */
    margin: 10px auto 0;
    padding: 10px;        /* a little less padding */
}

h1 {
    font-size: 20px; /* Adjust the title size for smaller screens */
    margin-bottom: 20px;
}

h3 {
    font-size: 1rem;
    margin-bottom: 2px;
}

p1 {
    font-size: 16px; /* Adjust text size for mobile */
    line-height: 1.6; /* Improve readability */
    margin-bottom: 10px;
}

p {
    font-size: 13px; /* Adjust text size for mobile */
    line-height: 1.6; /* Improve readability */
    margin-bottom: 15px;
}

.container-wrap .container-cafes {
    display: grid;
    grid-template-columns: 1fr;   /* single column */
    gap: 15px;                   /* tighter gap */
}

.cafe-card {
    padding: 5px;
}
}

/* Tablets (768px–1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

.container-wrap {
    width: 80%;           /* a bit wider than phone */
    margin: 20px auto;
    padding: 25px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 25px;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

p1 {
    font-size: 1.1rem;
    margin-bottom: 18px;
}

p {
    font-size: 1rem;
    margin-bottom: 18px;
}

.container-wrap .container-cafes {
    width: 95%;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two columns */
    gap: 30px 40px;
}

.cafe-card {
    padding: 15px;
}
}