body{
  background-color: #F1E3CB;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.App-fullogo {
  height: 5vmin;
  pointer-events: none;
  border-radius: 20vmax;
  margin-left: auto;
  margin-top: 2px;
  margin-right: 5px;
  animation: App-logo-spin infinite 20s linear;
}

header {
  text-align: left;
  background-color: #E8E6CD;
  display: flex;
  align-items: center;
  font-size: calc(14px);
  color: #734C2B;
}

.hamburger-menu {
  cursor: pointer;
  margin-right: auto; /* Push hamburger menu to the far left */
  margin-left: 3px;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger-icon .line {
  width: 30px;
  height: 5px;
  background-color: #734C2B;
  transition: 0.4s;
  border-radius: 2px;
}

/* When menu is active */
.hamburger-icon.open .line:nth-child(1) {
  transform: rotate(45deg) translate(12px, 12px);
}

.hamburger-icon.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open .line:nth-child(3) {
  opacity: 0;
}

.hamburger-icon.open .line:nth-child(4) {
  transform: rotate(-45deg) translate(9px, -9px);
}

.menu-popup {
  position: absolute;
  top: 53px;
  left: 3px;
  background-color: #E8E6CD;
  border-radius: 9px;
  box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 100;
}

.menu-popup ul {
  list-style-type: circle;
  margin: 5px;
  padding: 10px;
  color: #734C2B;
}

.menu-popup ul li a b {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  color: #734C2B;
}

.menu-popup ul li {
  margin-bottom: 10px;
}

/* Remove extra space after the last item */
.menu-popup ul li:last-child {
  margin-bottom: 0;
}

.menu-popup ul li:hover {
  background-color: #F1E3CB;
  border-radius: 20px;
}

.App-webpage {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally centers child elements */
  justify-content: flex-start; /* Adjusts vertical alignment */
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 0px;
}

.instagram-link {
  color: #E1306C;
  font-size: 24px;
  text-decoration: none;
}

.instagram-link:hover {
  color: #C13584; /* Darker shade on hover */
}

/* Small Logo Container */
.App-smallogo-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* Small Logo Styling */
.App-smallogo {
  max-width: 50%;
  height: auto;
  border-radius: 10px; /* Optional rounded corners */
}

/* Container to arrange the rotating image and message side by side */
.container-home {
  display: flex;
  flex-direction: row; /* Default to row on larger screens */
  align-items: center; /* Center vertically */
  position: absolute; /* Use absolute positioning to position the container */
  top: 50%; /* Position the container in the middle of the screen vertically */
  left: 50%; /* Position the container in the middle of the screen horizontally */
  transform: translate(-50%, -50%); /* Adjust for true centering */
  width: 90%; /* Optional: Control the width of the container */
  height: 50vh; /* Optional: Control the height of the container */
  text-align: center; /* Align text to the center */
}

/* Container to arrange the rotating image and message side by side */
.container-about {
  display: flex;
  flex-direction: row; /* Default to row on larger screens */
  align-items: center; /* Center vertically */
  position: absolute; /* Use absolute positioning to position the container */
  top: 50%; /* Position the container in the middle of the screen vertically */
  left: 50%; /* Position the container in the middle of the screen horizontally */
  transform: translate(-50%, -50%); /* Adjust for true centering */
  width: 90%; /* Optional: Control the width of the container */
  height: 30vh; /* Optional: Control the height of the container */
  text-align: center; /* Align text to the center */
}

/* Rotating images container with height adjustment */
.rotating-images {
  flex: 5;
  height: 65vh; /* Set the height of the rotating ima ge area */
}

/* Image styling to fit the container */
.rotating-images img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
  border-radius: 50px;  /* Optional rounded corners */
}

/* Message container */
.message-container {
  flex: 3;
  margin-right: 150px;
}

/* Adjust text styling */
.message-container h2 {
  font-size: 30px;
  color: #734C2B;
  margin-bottom: 40px;
}

.message-container p {
  font-size: 20px;
  color: #734C2B;
  line-height: 1.6; /* Improve line spacing for readability */
  word-wrap: break-word; /* Ensure text doesn't overflow */
}

/* Coffee Bags Image */
.App-bags {
  margin-top: 20px;
  max-width: 70%; /* Adjust the size as needed */
  height: auto;
  box-shadow: 18px 18px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease-in-out; /* Smooth fade effect */
}

.phone-link {
  color: #34a853; /* Phone's color */
  font-size: 21px; /* Icon size */
  text-decoration: none;
  padding-right: 20px;
}

.phone-link:hover {
  color: #246e38; /* Darker shade on hover */
}

.instagram-link {
  color: #E1306C; /* Instagram's color */
  font-size: 24px; /* Icon size */
  text-decoration: none;
  padding-right: 20px;
}

.instagram-link:hover {
  color: #922964; /* Darker shade on hover */
}

.email-link {
  color: #4285f4; /* Email's color */
  font-size: 24px; /* Icon size */
  text-decoration: none;
  padding-right: 20px;
}

.email-link:hover {
  color: #20437a; /* Darker shade on hover */
}

.whatsapp-link {
  font-size: 24px;
  color: #25D366; /* WhatsApp's color */
  text-decoration: none;
}

.whatsapp-link:hover {
  color: #0f5c2b; /* Darker shade on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 320px) and (max-width: 539px) { /* For phones */
  html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0; 
  }
  
  .hamburger-icon .line {
    width: 23px;
    height: 2px;
    transition: 0.4s;
  }

  /* When menu is active */
  .hamburger-icon.open .line:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
  }

  .hamburger-icon.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-icon.open .line:nth-child(3) {
    opacity: 0;
  }

  .hamburger-icon.open .line:nth-child(4) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .menu-popup {
    width: 40%;
    font-size: 11px; /* Smaller font for very small screens */
    top: 34px;
    left: 0;
  }

  .App-fullogo {
    height: 10vmin;
  }

  .App-smallogo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
  }

  .App-smallogo {
    max-width: 30%;
  }

  .container-home {
    flex-direction: column; /* Stack the image and text vertically */
    width: 100%; /* Make the container full width */
    height: 70%; /* Adjust height automatically */
  }

  .container-about {
    flex-direction: column; /* Stack the image and text vertically */
    width: 100%; /* Make the container full width */
    height: 70%; /* Adjust height automatically */
  }

  .rotating-images {
    width: 100%;
    height: 40vh; /* Reduce the height of the image on mobile */
    margin-bottom: 20px; /* Add some space between the image and text */
  }

  .message-container {
    width: 100%; /* Ensure the message container is full width */
    text-align: center;
  }

  .message-container h2 {
    font-size: 20px; /* Adjust the title size for smaller screens */
    margin-bottom: 10px; /* Adjust margin for mobile */
    margin-left: 160px;
    word-wrap: break-word; /* Prevent words from breaking out of the container */
    color: #734C2B; /* Add color back for visibility */
  }

  .message-container p {
    font-size: 13px; /* Adjust text size for mobile */
    line-height: 1.6; /* Improve readability */
    margin-left: 25%; /* Center the element horizontally by using 5% left margin */
    word-wrap: break-word; /* Ensure text stays within bounds */
    overflow-wrap: break-word; /* Ensure long words don't overflow */
    color: #734C2B; /* Add color back for visibility */
    text-align: center;
    width: 90%; /* Use 90% of the width */
  }

  footer {
    visibility: collapse;
  }

  .phone-link, .instagram-link, .email-link, .whatsapp-link {
    font-size: 25px;
  }
}


@media (min-width: 540px) and (max-width: 767px) { /* For phones */
  html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0; 
  }
  
  .hamburger-icon .line {
    width: 23px;
    height: 2px;
    transition: 0.4s;
  }

  /* When menu is active */
  .hamburger-icon.open .line:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
  }

  .hamburger-icon.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-icon.open .line:nth-child(3) {
    opacity: 0;
  }

  .hamburger-icon.open .line:nth-child(4) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .menu-popup {
    width: 30%;
    font-size: 14px; /* Smaller font for very small screens */
    top: 4%;
    left: 0;
  }

  .App-fullogo {
    height: 8vmin;
  }

  .App-smallogo-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .App-smallogo {
    max-width: 30%;
  }

  .container-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
  }

  .container-about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  }

  .rotating-images {
    width: 100%;
    height: 38vh;
    margin-bottom: 30px; /* Add some space between the image and text */
  }

  .message-container {
    width: 90%; /* Ensure the message container is full width */
  }

  .message-container h2 {
    font-size: 20px; /* Adjust the title size for smaller screens */
    margin-bottom: 10px; /* Adjust margin for mobile */
    margin-left: 160px;
    word-wrap: break-word; /* Prevent words from breaking out of the container */
    color: #734C2B; /* Add color back for visibility */
  }

  .message-container p {
    font-size: 15px; /* Adjust text size for mobile */
    line-height: 1.6; /* Improve readability */
    margin-left: 20%;
    word-wrap: break-word; /* Ensure text stays within bounds */
    overflow-wrap: break-word; /* Ensure long words don't overflow */
    color: #734C2B; /* Add color back for visibility */
    text-align: center;
    width: 90%; /* Use 90% of the width */
  }

  footer {
    visibility: collapse;
  }

  .phone-link, .instagram-link, .email-link, .whatsapp-link {
    font-size: 18px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) { /* For tablets */
  html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100%; /* Ensure the body doesn't overflow horizontally */
    margin: 0; /* Remove any margin that might push content */
  }
  
  .hamburger-icon .line {
    width: 23px;
    height: 2px;
    transition: 0.4s;
  }

  /* When menu is active */
  .hamburger-icon.open .line:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
  }

  .hamburger-icon.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-icon.open .line:nth-child(3) {
    opacity: 0;
  }

  .hamburger-icon.open .line:nth-child(4) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .menu-popup {
    width: 25%;
    font-size: 15px; /* Smaller font for very small screens */
    top: 4%;
    left: 0;
  }

  .App-fullogo {
    height: 6vmin;
  }

  .App-smallogo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .App-smallogo {
    max-width: 50%;
  }

  .container-home {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 75%;
  }

  .container-about {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 75%;
  }

  .rotating-images {
    flex: 0;
    width: 100%;
    height: 40vh; /* Reduce the height of the image on mobile */
    margin-bottom: 40px; /* Add some space between the image and text */
  }

  .message-container {
    flex: 0;
    width: 100%; /* Ensure the message container is full width */
    padding: 0 10px; /* Padding on left and right to avoid overflow */
    box-sizing: border-box; /* Include padding in width */
    overflow: visible; /* Ensure no overflow issues */
  }

  .message-container h2 {
    font-size: 24px; /* Adjust the title size for smaller screens */
    margin-bottom: 20px; /* Adjust margin for mobile */
    margin-left: 160px;
    word-wrap: break-word; /* Prevent words from breaking out of the container */
    color: #734C2B; /* Add color back for visibility */
  }

  .message-container p {
    font-size: 16px; /* Adjust text size for mobile */
    line-height: 1.6; /* Improve readability */
    margin-left: 160px;
    margin-bottom: auto; /* Adjust margin for mobile */
    text-align: center; /* Align text to the left */
    word-wrap: break-word; /* Ensure text stays within bounds */
    overflow-wrap: break-word; /* Ensure long words don't overflow */
    color: #734C2B; /* Add color back for visibility */
  }

  footer {
    visibility: collapse;
  }

  .phone-link, .instagram-link, .email-link {
    font-size: 25px;
  }
}